@page "/"
@using BlazorDataBinding.Shared
<h1>Weather forecast</h1>
<p>This component demonstrates fetching data to the FlexGrid with the IEnumerable or ObservableCollection data.</p>
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{    
    <FlexGrid  ItemsSource="@forecasts" Style="C1GridStyle.GridStyle" RowStyle="C1GridStyle.RowStyle" AlternatingRowStyle="C1GridStyle.AlternatingRowStyle" ColumnHeaderStyle = "C1GridStyle.ColumnHeaderStyle">
    </FlexGrid>
}

@code {
    private List<WeatherForecast> forecasts;

    public string filterText = "";
    protected override void OnInitialized() => forecasts = WeatherForecast.WeatherForecasts().ToList();

}